.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dashboard-banner {
  background-image: url("C:\Users\Administrator\Downloads\image.png"); /* path from public */
  background-size: cover;                  /* makes it fill the area */
  background-position: center center;      /* centers the image */
  background-repeat: no-repeat;            /* prevents tiling */
  height: 100vh;                           /* full viewport height */
  width: 100%;                             /* full width */
  position: relative;                      /* allows overlays if needed */
}