body{
  background-color: #33bfc400;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
  color: #f9f9f9;
}

.banner {
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2djZWs1Y2Z0Y3c5a29qMHpuYjNzNHNtOWZtejF2bnZqb25mZ3pkbyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/EdealKz0LxKTGs0hYA/giphy.webp');
  background-color: #007bff;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.heading {
  font-size: 2.5rem;
  margin: 20px 0 10px;
  color: black;
  font-family: roboto, sans-serif;
}

.subheading {
  font-size: 1.4rem;
  max-width: 600px;
  margin: 0 auto 30px;
  color: #007bff;
  font-family: roboto, sans-serif;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.primaryBtn {
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.secondaryBtn {
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: white;
  color: #007bff;
  cursor: pointer;
}

.sectnavLinks {
  color: black;
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: black;
  height: 20vh;
}

.navbarLogo {
  color: #33bfc4;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}

.right {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

.appImage{
  background-image: url(./../public/trackon_dashboard.png);
  background-size: contain;
  background-position: center center;
  /* ensures true centering */
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.btn-letstalk{
    font-style: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    cursor: pointer;
    background: #33bfc4 !important;
    border: 1px solid #269093 !important;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
    color: #fff !important;
    background-color: #33bfc4 !important;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-transform: none;
    border-style: none;
    border-width: 0px;
    border-color: initial;
    border-radius: 30px !important;
    width: 100%;
    display: block;
    text-align: center;
    -webkit-transition: none;
}
